<%= form_for [current_user, @post], html: {class: 'form-horizontal'} do |f| %>

  <div class="field text-area">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="field image">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>


  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div>
    <%= f.submit class:'btn btn-primary' %>
  </div>
<% end %>
</div>